.name {
  align-self: center;

  @include desktop {
    margin-right: auto;
  }
}

.about {
  max-width: 530px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @include tablet {
    flex-direction: row-reverse;
    justify-content: center;
    max-width: 768px;
  }

  @include desktop {
    justify-content: space-between;
    max-width: 1024px;
  }
}

.about-me {
  @extend %centered;
  @include text(1.25rem, $color: $color-gray);

  @include tablet {
    text-align: left;
    align-self: center;
  }
}
