.nav-mobile {
  @extend %border-radius-4px;
  display: block;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  background: $color-gray url(../assets/img/nav.svg) no-repeat center center;
  height: 40px;
  width: 40px;

  @include tablet {
    display: none;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav {
  width: 100%;
}

.nav-list {
  @extend %border-radius-4px;
  display: none;
  flex-direction: column;
  background-color: $color-gray;

  @include tablet {
    display: flex;
    background-color: $color-gallery;
  }

  a {
    @extend %centered;
    @extend %border-radius-4px;
    display: block;
    padding:  10px 100px 10px 100px;
    background-color: $color-white;

    @include tablet {
      padding:  10px 50px 10px 50px;
    }
  }

  li {
    align-self: center;
    width: 85%;
    margin: 10px;
  }

  @include tablet {
    flex-direction: row;
  }
}

.nav-active {
  display: flex;
}
