.nav-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 530px;
    margin: 0 auto;
    
      li {
        padding: 20px;
      }
      
      @media screen and (min-width: 768px) {
        max-width: 768px;
      }  
      
      @media screen and (min-width: 1024px) {
        max-width: 1024px;
      }
    }
    
#footer-2, #footer-3, #footer-4 {
      display: none;
    }
    
    @media screen and (min-width: 768px) {  
    #footer-1 {
      margin-right: auto;
    }
    #footer-2, #footer-3, #footer-4 {
      display: inherit;
    }
    
    #footer-5 {
      display: none;
  }
} 
