// Webfonts

@mixin font-face($family, $file) {
  @font-face {
    font-family: $family;
    src: url('#{$path-font}/#{$file}-webfont.woff2') format('woff2'),
         url('#{$path-font}/#{$file}-webfont.woff') format('woff');
  }
}

// Text

@mixin text($size, $l-height: null, $weight: null, $color: null) {
  font-size: $size;
  line-height: $l-height;
  font-weight: $weight;
  color: $color;
}

// Media Queries

@mixin tablet {
  @media #{$tablet-width} {
    @content;
  }
}

@mixin desktop {
  @media #{$desktop-width} {
    @content;
  }
}
