.about {
  max-width: 530px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  
  @media #{$brk-narrow} {
    flex-direction: row-reverse;
    justify-content: center;
    max-width: 768px;
  }
  
  @media #{$brk-wide} {
    justify-content: space-between;
    max-width: 1024px;
  }
}

.picture-wrapper {
  display: flex;
  justify-content: center;
  
  @media #{$brk-narrow} {
    justify-content: center;
  }  
  
  @media #{$brk-wide}  {
    justify-content: space-between;
  }
}

.profile-image {
  width: 90%;
  height: 90%;
  border-radius: 4px;
  margin: 30px;
}

.about-me {
    color: $text-color-about;
    text-align: center;
    font-size: 21px;
    
    @media #{$brk-narrow}  {
        text-align: left;
        align-self: center;
      }
}
