.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    max-width: 530px;
    
    @media screen and (min-width: 768px) {
      max-width: 768px;
    }  
    
    @media screen and (min-width: 1024px) {
      max-width: 1024px;
    }
  }
  
.tel, .mail {
    font-weight: 900;
    padding-left: 15px;
  }
  
.seperator {
    border-top: 1px solid black;
    width: 95%;
    margin: 15px 0 5px 0;
    border-radius: 3px;
    align-self: center;
  }
