.m-wrapper {
  background-color: $color-gallery;
}

.nav-footer {
  @extend %margin-auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 530px;

  li {
    padding: 20px;
  }
  
  @include tablet {
    max-width: 768px;
  }  
  
  @include desktop {
    max-width: 1024px;
  }
}
    
#footer-2, #footer-3, #footer-4 {
  display: none;
}
  
  @include tablet {  
  #footer-1 {
    margin-right: auto;
  }
  #footer-2, #footer-3, #footer-4 {
    display: inherit;
  }
  
  #footer-5 {
    display: none;
  }
} 
