.main-header {
  @extend %margin-auto;  
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media #{$brk-wide} {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

.name {
  align-self: center;

  @media #{$brk-wide}  {
    margin-right: auto;
  }
}

.l-wrapper {
  background-color: $header-background-color;
}
