.main-header {
  @extend %margin-auto;  
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

.name {
  align-self: center;

  @include desktop {
    margin-right: auto;
  }
}

.l-wrapper {
  background-color: $color-gallery;
}
