.about {
  max-width: 530px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media #{$brk-narrow} {
    flex-direction: row-reverse;
    justify-content: center;
    max-width: 768px;
  }

  @media #{$brk-wide} {
    justify-content: space-between;
    max-width: 1024px;
  }
}

.about-me {
    @include text(1.25rem, $color: $text-color-about);
    text-align: center;

    @media #{$brk-narrow}  {
        text-align: left;
        align-self: center;
      }
}
